<footer>
  <!-- <div class = "footer-wrapper">
    <div class = "footer-item">
      <div>© 2020</div>
      <div>Zachary Servies</div>
    </div>
    <div class = "footer-item">
      <div>© 2020</div>
      <div>Zachary Servies</div>
    </div>
  </div> -->
  <table>
    <tr class="footer-item">
      <th>© 2020</th>
      <th>Social Media</th>
    </tr>
    <tr class="footer-item">
      <td>Zachary Servies</td>
      <td>
        <a href="https://github.com/zservies" target="_blank">Github</a>/<a
          href="https://www.linkedin.com/in/zacharyservies/" target="_blank">LinkedIn</a>
      </td>
    </tr>
  </table>
</footer>
