.footer-container {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
table {
  color: #6b778c;
  text-align: center;
  border-collapse: separate;
  border-spacing: 50px 5px;
  a {
    color: #6b778c;
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
  }
}

@media (max-width: 375px) {
  table {
    border-spacing: 10px;
  }
  .footer-container {
    font-size: 12px;
  }
}
