<footer class="footer-container">
  <!-- <table>
    <tr class="footer-item">
      <th>© 2020</th>
      <th>Social Media</th>
      <th>Contact</th>
    </tr>
    <tr class="footer-item">
      <td>Zachary Servies</td>
      <td>
        <a href="https://github.com/zservies" target="_blank">Github</a> | <a
          href="https://www.linkedin.com/in/zacharyservies/" target="_blank">LinkedIn</a>
      </td>
      <td><a href="mailto: zachservies@gmail.com" target="_blank">zachservies@gmail.com</a></td>
    </tr>
  </table> -->
  <div class="footer-content">
    <table>
      <tr class="footer-item">
        <th>© 2020</th>
        <th>Social Media</th>
        <th>Contact</th>
      </tr>
      <tr class="footer-item">
        <td>Zachary Servies</td>
        <td>
          <a href="https://github.com/zservies" target="_blank">Github</a> |
          <a href="https://www.linkedin.com/in/zacharyservies/" target="_blank"
            >LinkedIn</a
          >
        </td>
        <td>
          <a href="mailto: zachservies@gmail.com" target="_blank"
            >zachservies@gmail.com</a
          >
        </td>
      </tr>
    </table>
  </div>
</footer>
