<header>
  <div class = "nav-button-wrapper">
    <div class = "nav-buttons">
      <button mat-flat-button [ngClass] = "{'selected-nav': (buttonToggled.home.isToggled)}" (click) = "toggleNav('home')">
        <i class="material-icons">home</i>
      </button>
      <button mat-flat-button [ngClass] = "{'selected-nav': (buttonToggled.about.isToggled)}" (click) = "toggleNav('about')">Projects.</button>
      <button mat-flat-button (click) = "toggleNav('resume')">
        <a target="_blank" href="../../assets/ZacharyServies_Resume.pdf">Resume.</a>
      </button>
    </div>
  </div>
</header>
