header {
  margin-top: 3vh;
}

a {
  color: black;
  text-decoration: none;
}

button {
  margin: 10px 5px;
  border-radius: 25px;
  background-color: white;
  color: black;
}

button:hover, .selected-nav {
  background-color: #1848c4;
  color: white;
  a {
    color: white;
  }
}
.nav-button-wrapper {
  text-align: right;
  margin-right: 10vw;
}
.name-wrap {
  float: left;
  margin-left: 10vw;
  margin-top: 10px;
  -webkit-animation: fade-name 1s;
  animation: fade-name 1s
}
.name-subtext {
  float: left;
  opacity: 0.7;
  -webkit-animation: fade-subtext 1s;
  animation: fade-subtext 1s;
}

@keyframes fade-subtext {
  from {opacity: 0;}
  to {opacity: 0.7;}
}

@keyframes fade-name {
  from {opacity: 0;}
  to {opacity: 1;}
}

