<div class="about-wrapper">
  <div class="content-container">
    <h1 class="about">About Me</h1>
    <p>Hi, I'm Zach, a Purdue graduate and passionate software engineer.</p>
    <p>
      Most recently, I've been focused on developing responsive and performant
      client facing applications using Angular, Node.js, and Amazon Web Services
      for Sogeti clients.
    </p>
    <p>
      Below you can find some of the latest personal projects I'm working on
      along with links to their repositories.
    </p>
    <div>
      <h3 class="sub-header">
        <a href="https://github.com/zservies/golfriend" target="_blank">
          🏌️ Golf-friend -
          <h5 class="sub-text">ReactJS, ExpressJS, MongoDB</h5></a
        >
      </h3>
      <p>
        Work-in-progress web application that stores and analyzes your golf
        scores so you can track your game...or lack thereof.
      </p>

      <h3 class="sub-header">
        <a href="https://github.com/zservies/Vinyl-Collections" target="_blank">
          🎵 Vinyl Collections -
          <h5 class="sub-text">
            ReactJS, Redux, NodeJS, Serverless framework, AWS
          </h5></a
        >
      </h3>
      <p>
        Stores your vinyl record collection. Create, save, edit, and delete
        records of your records.
      </p>

      <h3 class="sub-header">
        <a href="https://github.com/zservies/lyrist" target="_blank">
          🎵 Lyrist -
          <h5 class="sub-text">Angular, NodeJS, ExpressJS, MongoDB</h5></a
        >
      </h3>
      <p>
        Save the lyrics you want to remember and browse the lyrics of others to
        fit your mood.
      </p>
    </div>
  </div>
</div>
