.about-wrapper {
  display: flex;
  justify-content: center;
}
.content-container {
  width: 35%;
}
.about {
  margin: 30px 0;
}
.sub-header {
  margin: 20px 0;
  font-size: 20px;
  opacity: 0.9;
}
.sub-text {
  opacity: 0.7;
  display: inline;
}
p {
  opacity: 0.7;
  line-height: 25px;
  font-size: 13pt;
  margin: 20px 0;
  -webkit-animation: fade-description 1s;
  animation: fade-description 1s;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #6b778c;
}

h1,
h3 {
  -webkit-animation: fade-name 1s;
  animation: fade-name 1s;
}

@keyframes fade-description {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fade-name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
