<div class = "about-wrapper">
  <div class = "content-container">
    <h1 class = "about">About Me</h1>
    <h3 class = "sub-header">Software Engineer</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed id semper risus in hendrerit. Id volutpat lacus laoreet non curabitur. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Pulvinar mattis nunc sed blandit. Turpis egestas integer eget aliquet nibh. Eu facilisis sed odio morbi quis. Leo urna molestie at elementum eu. Mattis vulputate enim nulla aliquet. At elementum eu facilisis sed odio. Tellus at urna condimentum mattis pellentesque id nibh tortor. Lacinia quis vel eros donec ac odio. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant.
    </p>
    <h3 class = "sub-header">Purdue University Graduate</h3>
    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3 class = "sub-header">Pop Punk Enthusiast</h3>
    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
