<div class = "about-wrapper">
  <div class = "content-container">
    <h1 class = "about">Projects</h1>
    <h3 class = "sub-header">Portfolio Site</h3>
    <p>
      My personal portfolio site - zachservies.me.
    </p>
    <p>
      Built using Angular and material design.
    </p>
    <h3 class = "sub-header">Lyrist</h3>
    <p>
      Saves the lyrics you want to remember.
    </p>
    <p>
      Stores lyrics that have meaning, or lyrics you’ve written yourself so you can look back later. Browse lyrics others have posted or lyrics that fit the mood you’re in.
    </p>
    <p>
      Lyrist is a web application built using the Angular, NodeJS, ExpressJS, and MongoDB.
    </p>
    <h3 class = "sub-header">Interactive Dictionary</h3>
    <p>The command line dictionary.</p>
    <p>

    </p>
  </div>
</div>
