<div class="wrapper">
  <i class="material-icons back-arrow" (click)="carouselNav('back')">arrow_back</i>
  <div class="content">
    <div class="description" *ngIf="carouselCount===1 || carouselCount ===5">
      Hi, I'm
    </div>
    <div class="name">
      <h1 class="name" *ngIf="carouselCount===1 || carouselCount===5">Zachary</h1>
      <h1 class="name" *ngIf="carouselCount===1 || carouselCount===5">Servies</h1>
      <h1 class="name" *ngIf="carouselCount===2">Software</h1>
      <h1 class="name" *ngIf="carouselCount===2">Engineer</h1>
      <h1 class="name" *ngIf="carouselCount===3">Purdue</h1>
      <h1 class="name" *ngIf="carouselCount===3">Graduate</h1>
      <h1 class="name" *ngIf="carouselCount===4">Pop Punk</h1>
      <h1 class="name" *ngIf="carouselCount===4">Enthusiast</h1>
    </div>
    <div>
      <h4 class="description" *ngIf="carouselCount===1 ">Software Engineer</h4>
      <h4 class="description" *ngIf="carouselCount===1 || carouselCount===2">Purdue Graduate</h4>
      <h4 class="description" *ngIf="carouselCount===1 || carouselCount===3">Pop Punk Enthusiast</h4>
      <h4 class="description" *ngIf="carouselCount===4">Zachary Servies</h4>
    </div>
    <div class="nav-arrows">
    </div>
  </div>
  <i class="material-icons forward-arrow" (click)="carouselNav('next')">arrow_forward</i>
</div>
