.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.content {
  display: inline-block;
  text-align: center;
  font-size: 25px;
}
.name {
  -webkit-animation: fade-name 3s;
  animation: fade-name 3s;
}
.description {
  font-size: 20px;
  opacity: 0.7;
  overflow: visible;
  -webkit-animation: fade-description 3s;
  animation: fade-description 3s;
}

i {
  font-size: 50px;
  user-select: none;
}

i:hover {
  color: grey;
  cursor: pointer;
}
.back-arrow {
  margin-right: 100px;
}
.forward-arrow {
  margin-left: 100px;
}

@keyframes fade-description {
  from {opacity: 0;}
  to {opacity: 0.7;}
}

@keyframes fade-name {
  from {opacity: 0;}
  to {opacity: 1;}
}
