.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex;
  height: 100%;
}
.content {
  text-align: center;
  font-size: 25px;
}
.name {
  -webkit-animation: fade-name 3s;
  animation: fade-name 3s;
}
.description {
  font-size: 20px;
  opacity: 0.7;
  -webkit-animation: fade-description 3s;
  animation: fade-description 3s;
}

@keyframes fade-description {
  from {opacity: 0;}
  to {opacity: 0.7;}
}

@keyframes fade-name {
  from {opacity: 0;}
  to {opacity: 1;}
}
