@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Open Sans', sans-serif;
}

.background-wrapper {
  position: absolute;
  background-color: #FDFEFE;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow:hidden;
  display: block;
  padding-bottom: 5rem;
}


